<form id= "frm" method="POST" action="">
Make a post!
<p> Username: <input name = "username" type= "text" id= "field1"> What's up? <input name = "contents" type = "text" id= "field2"> </p>

<input type="submit">
</form>