<form id= "makeThread" method="POST" action="">
Don't see a thread that tailors to you? Make a new one!
<p> Title: <input name = "threadTitle" type= "text" id= "fieldX"> Start it off! <input name = "threadTheme" type = "text" id= "fieldY"> </p>

<input type="submit">
</form>